<div class="relative flex flex-col items-center w-full gap-y-7 md:gap-y-5">
    <div class="relative w-full">
        <input [(ngModel)]="shortedURL" #shortedUrlInput type="text" class="z-20 block w-full p-2 text-lg text-center text-gray-900 border border-l-2 border-gray-300 rounded-lg md:text-2xl 2xl:text-5xl bg-gray-50 border-l-gray-100 ">

        <button
            (click)="copyToClipboard()" 
            class="absolute top-0 right-0 p-2.5 h-full text-sm 2xl:text-5xl font-medium text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:outline-none"
        >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 7H7V5H13V7Z" fill="currentColor" /><path d="M13 11H7V9H13V11Z" fill="currentColor" /><path d="M7 15H13V13H7V15Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M3 19V1H17V5H21V23H7V19H3ZM15 17V3H5V17H15ZM17 7V19H9V21H19V7H17Z" fill="currentColor" /></svg>
        </button>
    </div>

    <div 
        *ngIf="isCopied"
        class="flex items-center w-full max-w-sm p-4 mt-4 mb-4 text-white bg-green-600 rounded-lg shadow 2xl:max-w-2xl animate-jump-in" role="alert"
    >
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-200 bg-green-800 rounded-lg">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            <span class="sr-only">Check icon</span>
        </div>
        <div class="ml-3 text-sm font-normal uppercase md:text-lg 2xl:text-4xl">Url copiada al portapapeles</div>
    </div>
</div>